{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/welcome.css' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="image">
<img src="https://storage.googleapis.com/nextivawebsites-wordpressfiles-voip/var/www/virtual/nextiva.com/voip/working-from-home-tips-feature-image.png" width="100%">
</div>
<h1 class="heading">Welcome to CareerBuddy </h1>
<p class="quote">## IF YOU CAN DREAM IT,YOU CAN DO IT ##</p>
<a href="/homepage"><button id="button" type="button" class="btn btn-primary">Get Started</button></a>
</body>

</html>
