
#job-detail {

 margin-top: 50px;
  margin-bottom: 130px;
  margin-right: 500px;
  margin-left: 450px;


  background-color: white;
  width: 800px;
  border: 4px solid black;
  padding: 30px;
  margin: 20px;
  border-radius:10px;
}


